@import url('https://fonts.googleapis.com/css2? family = Roboto & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.banner {
    width: 1920px;
    height: 235px;
    background-image: url(imagens/banner_bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: white;
}
.main_teams {
    width: 100%;
    height: 780px;
    background-color: #1E1C21;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box_cadastro_teams {
    height: 340px;
    width: 770px;
    background: linear-gradient(180deg, #000000 0%, #2E2E2E 25%, #010101 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_cadastro_teams span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 575px;
    text-align: left;
    text-transform: capitalize;
    margin-top: 20px;
}

.box_cadastro_teams input {
    height: 30px;
    width: 575px;
    background-color: #ABABAB;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 145px;
}
label {
    height: 30px;
    width: 146px;
    background-color: #ABABAB;
    font-family: 'Robot',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.equipes {
    display: none;
}
footer {
    height: 248px;
    width: 1920px;
}
button {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    width: 260px;
    height: 40px;
    background-color: #800000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 65px;
}
.lista_jogadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.lista_jogadores span {
    font-family: 'Titillium Web', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 61px;
letter-spacing: 0em;
text-align: left;
color: white;
padding-bottom: 30px;
}
.teams_list {
    width: 770px;
    height: 170px;
    border: 1px solid white;
}
.names p {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-right: 200px;
}
.names {
    height: 59px;
    border: 1px solid white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.players {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.players p {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}
.teams {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */
    margin-right: 285px;
}
.team_names {
    padding-left: 30px;
}
.teams img {
    width: 38px;
    height: 38px;
}